.github/**
assets/**
**/node_modules
node_modules
scripts
.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
tests
cli
language
**/cli
cli/**
cli
extension